.news-list {

}

.news {
    border: solid 1px gray;
    padding: 5px;
    margin-bottom: 5px;
    width: 400px;
}

.news-picture {
    float: left;
    margin: 0 10px 0 0;
}

.news-title {
    font-weight: bold;
}

.news-date {
    font-style: italic;
    margin-bottom: 5px;
}

.news-summary {

}

.clear {
    clear: both;
}

.form {
    display: block;
    width: 100%;
}

.form input {
    width: 170px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    margin: 5px 5px 0 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.form textarea {
    width: 70%;
    border: 1px solid #CCCCCC;
    padding: 2px;
    overflow: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.form p {
    margin: 5px 0;
}
