.news-list {

}

.news {
    border: solid 1px gray;
    padding: 5px;
    margin-bottom: 5px;
    width: 400px;
}

.news-picture {
    float: left;
    margin: 0 10px 0 0;
}

.news-title {
    font-weight: bold;
}

.news-date {
    font-style: italic;
    margin-bottom: 5px;
}

.news-summary {

}

.clear {
    clear: both;
}